<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{> header }}
        <p>This site was created by Prantik Mukherjee.It uses data from mapbox.com and openweathermap.org ! </p>
        <img class="potrait other"src="/img/me.jpg">
    </div>
    
    {{> footer }}
</body>

</html> 